@charset "UTF-8";

:root {
    --corUniverso: #262240;
    --corAbacate: #5C4162;
    --corTigre: #4C8C72;
    --corBanana: #5FD9AC;
    --corGato: #025930;
}

.baseSite {
    background-color: #5C4162;
    margin: 0px;
    padding: 0px;
}

.rotuloSistema {
    margin: 0px;
    padding: 10px;
    text-align: center;
    background-color: var(--corUniverso);
    color: white;
    font-family: monospace;
}

#textoOutro {
    color: #5FD9AC;
    font-family: Arial, Helvetica, sans-serif;

}

.Pokemon {
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.PokemonFig {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
    width: 125px;
    border: 1px solid;
    transition: 0.5s;
    padding: 0px;
    margin: 0px;
}

.PokemonFig:hover {
    transition: 0.5s;
    border: 1px solid #5FD9AC;
    cursor: pointer;
}

.PokemonCaption {
    display: flex;
    font-size: 15px;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.PartyPokemon {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}

#vida {
    width: 125px;
    height: 20px;
    background-color: #ddd;
}

#barra {
    height: 100%;
    background-color: #4CAF50;
    background-size: cover;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
