@charset "UTF-8";

.botaoFoda {
    margin: auto;
    color: aqua;
    background-color: blue;
}

.botaoFoda:hover {
    margin: auto;
    color: aquamarine;
    background-color: blueviolet;
    cursor: pointer;
}